.GetToken-login-button {
    margin-top:150px !important;
}

.GetToken-text {
    margin-top:100px !important;
    max-width: 80%;
}

.GetToken-spinner {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    margin-top: 350px;
}