.GetToken-login-button {
    margin-top:50px !important;
}

.GetToken-text {
    margin-top:100px !important;
    max-width: 80%;
}

.Main-spinner {
    width: 100px !important;
    height: 100px !important;
}